body, html {
    height: 100%
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 2vw;
}

a {
  text-decoration: none;
}

.footer-text {
  font-size: 1vw;
}

.iframe-size iframe {
  width: 100%;
}

.headingcolor {
  color: rgb(104, 0, 0);
  padding: 0;
}

.liststyle, .nomargin {
  list-style: none;
  margin: 0;
}

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/HeroPicWide.jpg");
    min-height: 90%;
}

.logo-size {
  width: 40%;
}

.social-icons {
    text-decoration: none;
    margin: 0 10px;
    font-size: 5vw;
}

.social-icons:hover, .active-text {
    color: rgb(104, 0, 0);
}

.imagealign {
  vertical-align: center;
}

@media only screen and (max-width: 600px) {
  h1,h2,h3,h4,h5,h6 {
    font-size: 4.5vw;
  }
  .social-icons {
    font-size: 10vw;
  }
  .nav-text, .drinks {
    font-size: 3vw;
  }
  .footer-text {
    font-size: 2vw;
  }
  .logo-size {
    width: 60%;
  }
}